// Define variables for your color scheme
$gray: #B7B6BE;
$blue: #100E28;
$green: #204841;
$yellow: #F5EA87;
$red: #900B63;
$orange: orange;

// Brand
// Gray
$darkest-gray: #3F3E53;
$dark-gray: #6F6E7E;
$light-gray: #CFCED4;
$lighter-gray: #E7E6E9;
$lightest-gray: #FBFBFB;

// Navy
$dark-navy: #04040C;
$mid-navy: #0B091C;
$navy: #100E28;

// Purple
$darkest-purple: #675FC7;
$dark-purple: #A7A3DF;
$purple: #C1BEE8;
$light-purple: #DBDAF2;

// Projects
// Cultivate
$dark-green: #204841;
$light-green: #C3E6CB;

// Inky
$dark-blue: #1B2053;
$light-blue: #CCD9ED;

// Patched
$dark-pink: #900B63;
$light-pink: #E5ACD2;

// Smb
$dark-charcoal: #232F3E;
$light-charcoal: #BEC9D7;
