// Define variables for your color scheme
$gray: #B7B6BE;
$blue: #4200FF;
$green: #204841;
$yellow: #F5EA87;
$red: #900B63;
$orange: orange;

// Brand
// Gray
$text-gray: #262626;
$dark-gray: #6F6E7E;
$light-gray: #CFCED4;
$background-gray: #F2F4F8;
$lightest-gray: #FBFBFB;

// Navy
$dark-navy: #04040C;
$mid-navy: #0B091C;
$navy: #100E28;

// Purple
$darkest-purple: #675FC7;
$dark-purple: #A7A3DF;
$purple: #C1BEE8;
$light-purple: #DBDAF2;

// Projects
// Cultivate
$dark-green: #204841;

// Inky
$dark-blue: #1B2053;

// Patched
$dark-pink: #900B63;

// Smb
$dark-charcoal: #232F3E;
