// Import Google fonts
@import url("//hello.myfonts.net/count/482c15");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "ClearfaceStd-Regular", "Helvetica", "serif";
$monospace-font: "DM Mono", "Helvetica", "monospace";

@font-face {
  font-family: "ClearfaceStd-Regular";
  src: url('/font.woff2') format('woff2');
  src: url('/font.woff') format('woff');
}

$my-font: "ClearfaceStd-Regular";

