.bg-dark-green {
    background-color: $dark-green;
}
<<<<<<< HEAD
=======

.bg-light-green {
    background-color: $light-green;
}

.project-cul {
    color: $darkest-purple;
    text-transform: none;
    letter-spacing: 0;
}
>>>>>>> f6032615d4faa8d3355115ef478928722f1deca0
