.lowercase {
    text-transform: capitalize;
    color: $darkest-gray;
}

.projects {
    font-family: $body-font;
    color: $lighter-gray;
    text-transform: uppercase;
}

.featured {
    border-radius: 35px;
    height: 300px;
    object-fit: cover;
    background: center;
    transition: transform .2s; /* Animation */
    &:hover {
        transform: scale(1.02);
    }
}

.featured-cultivate {
    border-radius: 35px;
    height: 600px;
    object-fit: cover;
    background: center;
    transition: transform .2s; /* Animation */
    &:hover {
        transform: scale(1.02);
    }
}

.background {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: none;
}
