// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Global styling 
// Type
h6 {
  font-family: $monospace-font;
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: 300;
}

.kill {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

// Links
a {
  font-family: $body-font;
  letter-spacing: 0.01rem;

  &:hover {
    text-decoration: none;
  }
}

.link-external {
  color: $lightest-gray;
  opacity: 0.9;

    &:hover {
        color: $light-gray;
        opacity: 1;
        cursor: pointer;
      }
}

.back-arrow {
  width: 1rem;
}

.up-arrow {
  width: 1rem;
  padding-bottom: 0.1em;
}

.desc-link {
  font-family: $body-font;
  text-transform: underline;
}

.back {
  color: $lighter-gray;
  font-family: $monospace-font;
  font-weight: 300;
}

// Opener
.tags {
  color: $gray;
  flex-direction: column;
  font-family: $body-font;
  text-transform: none;
}

.brand {
  color: $lightest-gray;
}

.bg-mid-primary {
  background-color: $mid-navy;
}

// Case study
.dark-text {
  color: $gray;
}

.bg-gray {
  background-color: $lightest-gray;
}

.bg-video {
  background-color: #eef1f4;
}

.quote {
  color: $dark-gray;
  padding-top: 0.5em;
}

.fixed-height {
  height: 80vh;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  justify-content: center;
  text-align: center; 
}

// Footer
.bg-darkestgray {
  background-color: $dark-navy;
}

.footer-text {
  color: $lighter-gray;
}
